rdml_schema_v1_0_PR.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.rdml.org" 
           elementFormDefault="qualified" 
           xmlns="http://www.rdml.org" 
           xmlns:rdml="http://www.rdml.org"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"> 

 <xs:annotation>
   <xs:documentation>
     The MIT License

     Copyright (c) 2008 the RDML-consortium

     Permission is hereby granted, free of charge, to any person obtaining a copy
     of this software and associated documentation files (the "Software"), to deal
     in the Software without restriction, including without limitation the rights
     to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
     copies of the Software, and to permit persons to whom the Software is
     furnished to do so, subject to the following conditions:

     The above copyright notice and this permission notice shall be included in
     all copies or substantial portions of the Software.

     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
     IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
     FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
     AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
     LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
     OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
     THE SOFTWARE.
   </xs:documentation>
 </xs:annotation>

 <xs:complexType name="cdnaSynthesisMethodType">
   <xs:sequence>
     <xs:element name="enzyme" type="xs:string"/>
     <xs:element name="primingMethod" type="primingMethodType"/>
   </xs:sequence>
 </xs:complexType>

 <xs:complexType name="commercialAssayType">
   <xs:sequence>
     <xs:element name="company" type="xs:string"/>
     <xs:element name="orderNumber" type="xs:string"/>
   </xs:sequence>
 </xs:complexType>

 <xs:simpleType name="cqDetectionMethodType">
   <xs:restriction base="xs:string">
     <xs:enumeration value="automated threshold and baseline settings"/>
     <xs:enumeration value="manual threshold and baseline settings"/>
     <xs:enumeration value="second derivative maximum"/>
   </xs:restriction>
 </xs:simpleType>

 <xs:complexType name="dataCollectionSoftwareType">
   <xs:sequence>
     <xs:element name="name" type="xs:string" minOccurs="0"/>
     <xs:element name="version" type="xs:string" minOccurs="0"/>
     <xs:element name="backgroundDeterminationMethod" type="xs:string" minOccurs="0"/>
     <xs:element name="cqDetectionMethod" type="cqDetectionMethodType" minOccurs="0"/>
     <xs:element name="thermalCyclingConditionsId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
   </xs:sequence>
 </xs:complexType>

 <xs:complexType name="dataType">
   <xs:annotation>
     <xs:documentation>Due to the high amount of this nodes names are kept short
     </xs:documentation>
   </xs:annotation>
   <xs:sequence>
     <xs:element name="tarId" type="xs:string"/>
     <xs:element name="cq" type="xs:float" minOccurs="0"/>
     <xs:element name="quantity" type="xs:float" minOccurs="0"/>
     <xs:element name="excl" type="xs:boolean" default="false" minOccurs="0"/>
     <xs:element name="exclExp" type="xs:string" minOccurs="0"/>
     <xs:element name="ampEff" type="xs:float" minOccurs="0"/>
     <xs:element name="adp" type="dpAmpCurveType" maxOccurs="unbounded" minOccurs="0"/>
     <xs:element name="mdp" type="dpMeltingCurveType" maxOccurs="unbounded" minOccurs="0"/>
     <xs:element name="bgFluor" type="xs:float" minOccurs="0"/>
     <xs:element name="quantFluor" type="xs:float" minOccurs="0"/>
   </xs:sequence>
 </xs:complexType>

 <xs:complexType name="dpAmpCurveType">
   <xs:annotation>
     <xs:documentation>Due to the high amount of this nodes names are kept short
     </xs:documentation>
   </xs:annotation>
   <xs:sequence>
     <xs:element name="cyc" type="xs:float" />
     <xs:element name="tmp" type="xs:float" minOccurs="0" maxOccurs="1" />
     <xs:element name="fluor" type="xs:float"/>
   </xs:sequence>
 </xs:complexType>

 <xs:complexType name="dpMeltingCurveType">
   <xs:annotation>
     <xs:documentation>Due to the high amount of this nodes names are kept short
     </xs:documentation>
   </xs:annotation>
   <xs:sequence>
     <xs:element name="tmp" type="xs:float" />
     <xs:element name="fluor" type="xs:float"/>
   </xs:sequence>
 </xs:complexType>

 <xs:complexType name="experimenterType">
   <xs:sequence>
     <xs:element name="id" type="xs:string"/>
     <xs:element name="firstName" type="xs:string"/>
     <xs:element name="lastName" type="xs:string"/>
     <xs:element name="email" type="xs:string" minOccurs="0"/>
     <xs:element name="labName" type="xs:string" minOccurs="0"/>
     <xs:element name="labAddress" type="xs:string" minOccurs="0"/>
   </xs:sequence>
 </xs:complexType>

 <xs:complexType name="experimentType">
   <xs:sequence>
     <xs:element name="id" type="xs:string"/>
     <xs:element name="name" type="xs:string" minOccurs="0"/>
     <xs:element name="annotation" type="xs:string" minOccurs="0"/>
     <xs:element name="run" minOccurs="0" maxOccurs="unbounded" type="runType"/>
   </xs:sequence>
 </xs:complexType>

 <xs:complexType name="gradientType">
   <xs:sequence>
     <xs:element name="highTemperature" type="xs:float"/>
     <xs:element name="lowTemperature" type="xs:float"/>
     <xs:element name="duration" type="xs:positiveInteger"/>
     <xs:element name="temperatureChange" type="xs:float" minOccurs="0"/>
     <xs:element name="durationChange" type="xs:int" minOccurs="0"/>
     <xs:element name="measure" type="measureType" minOccurs="0"/>
     <xs:element name="ramp" type="xs:float" minOccurs="0"/>
   </xs:sequence>
 </xs:complexType>

 <xs:complexType name="lidOpenType"/>

 <xs:complexType name="loopType">
   <xs:sequence>
     <xs:element name="goto" type="xs:positiveInteger"/>
     <xs:element name="repeat" type="xs:positiveInteger"/>
   </xs:sequence>
 </xs:complexType>

 <xs:simpleType name="measureType">
   <xs:restriction base="xs:string">
     <xs:enumeration value="none"/>
     <xs:enumeration value="real time"/>
     <xs:enumeration value="meltcurve"/>
   </xs:restriction>
 </xs:simpleType>

 <xs:complexType name="oligoType">
   <xs:sequence>
     <xs:element name="threePrimeTag" type="xs:string" minOccurs="0"/>
     <xs:element name="fivePrimeTag" type="xs:string" minOccurs="0"/>
     <xs:element name="sequence" type="sequenceType" minOccurs="0"/>
   </xs:sequence>
 </xs:complexType>

 <xs:complexType name="organismType">
   <xs:sequence>
     <xs:element name="freeDescription" type="xs:string" minOccurs="0"/>
     <xs:element name="officialDescription" type="xs:string" minOccurs="0"/>
     <xs:element name="officialSource" type="xs:string" minOccurs="0"/>
   </xs:sequence>
 </xs:complexType>

 <xs:complexType name="pauseType">
   <xs:sequence>
     <xs:element name="temperature" type="xs:float"/>
   </xs:sequence>
 </xs:complexType>

 <xs:simpleType name="pcrFormatType">
   <xs:restriction base="xs:string">
     <xs:enumeration value="single-well; 1"/>
     <xs:enumeration value="48-well plate; A1-F8"/>
     <xs:enumeration value="96-well plate; A1-H12"/>
     <xs:enumeration value="384-well plate; A1-P24"/>
     <xs:enumeration value="3072-well plate; A1a1-D12h8"/>
     <xs:enumeration value="32-well rotor; 1-32"/>
     <xs:enumeration value="72-well rotor; 1-72"/>
     <xs:enumeration value="100-well rotor; 1-100"/>
     <xs:enumeration value="undescribed format"/>
   </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="primingMethodType">
   <xs:restriction base="xs:string">
     <xs:enumeration value="oligo-dt"/>
     <xs:enumeration value="random"/>
     <xs:enumeration value="target-specific"/>
   </xs:restriction>
 </xs:simpleType>

 <xs:complexType name="rdmlIdType">
   <xs:sequence>
     <xs:element name="publisher" type="xs:string"/>
     <xs:element name="serialNumber" type="xs:string"/>
   </xs:sequence>
 </xs:complexType>

 <xs:complexType name="runAnnotationType">
   <xs:sequence>
     <xs:element name="name" type="xs:string" minOccurs="0"/>
     <xs:element name="description" type="xs:string" minOccurs="0"/>
     <xs:element name="instrument" type="xs:string" minOccurs="0"/>
     <xs:element name="pcrFormat" type="pcrFormatType" minOccurs="0"/>
     <xs:element name="dataCollectionSoftware" type="dataCollectionSoftwareType" minOccurs="0"/>
     <xs:element name="runDate" type="xs:dateTime" minOccurs="0"/>
     <xs:element name="experimenterId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
   </xs:sequence>
 </xs:complexType>

 <xs:complexType name="runType">
   <xs:sequence>
     <xs:element name="id" type="xs:string"/>
     <xs:element name="annotation" type="runAnnotationType" minOccurs="0"/>
     <xs:element name="well" type="wellType" maxOccurs="unbounded" minOccurs="0"/>
   </xs:sequence>
 </xs:complexType>

 <xs:complexType name="sampleType">
   <xs:sequence>
     <xs:element name="id" type="xs:string"/>
     <xs:element name="type" type="sampleTypeType" default="unkn"/>
     <xs:element name="interRunCalibrator" type="xs:boolean" default="false" minOccurs="0"/>
     <xs:element name="calibratorSample" type="xs:boolean" default="false" minOccurs="0"/>
     <xs:element name="description" type="xs:string" minOccurs="0"/>
     <xs:element name="templateIsolationMethod" type="xs:string" minOccurs="0"/>
     <xs:element name="dnaseTreatment" type="xs:boolean" minOccurs="0"/>
     <xs:element name="cdnaSynthesisMethod" type="cdnaSynthesisMethodType" minOccurs="0"/>
     <xs:element name="templateQuantity" type="xs:double" minOccurs="0"/>
     <xs:element name="templateQuality" type="templateQualityType" minOccurs="0"/>
   </xs:sequence>
 </xs:complexType>

 <xs:simpleType name="sampleTypeType">
   <xs:restriction base="xs:string">
     <xs:enumeration value="unkn"/>
     <xs:enumeration value="ntc"/>
     <xs:enumeration value="nac"/>
     <xs:enumeration value="std"/>
     <xs:enumeration value="opt"/>
   </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="sequenceType">
   <xs:restriction base="xs:string">
     <xs:pattern value="([a-zA-Z]+)"/>
   </xs:restriction>
 </xs:simpleType>

 <xs:complexType name="sequencesType">
   <xs:sequence>
     <xs:element name="forwardPrimer" type="oligoType"/>
     <xs:element name="reversePrimer" type="oligoType"/>
     <xs:element name="probe1" type="oligoType" minOccurs="0"/>
     <xs:element name="probe2" type="oligoType" minOccurs="0"/>
     <xs:element name="amplicon" type="oligoType"/>
   </xs:sequence>
 </xs:complexType>

 <xs:complexType name="stepType">
   <xs:sequence>
     <xs:element name="nr" type="xs:positiveInteger"/>
     <xs:element name="description" type="xs:string" minOccurs="0"/>
     <xs:choice>
       <xs:element name="temperature" type="temperatureType"/>
       <xs:element name="gradient" type="gradientType"/>
       <xs:element name="loop" type="loopType"/>
       <xs:element name="pause" type="pauseType"/>
       <xs:element name="lidOpen" type="lidOpenType"/>
     </xs:choice>
   </xs:sequence>
 </xs:complexType>

 <xs:complexType name="targetType">
   <xs:sequence>
     <xs:element name="id" type="xs:string"/>
     <xs:element name="type" type="targetTypeType"/>
     <xs:element name="organism" type="organismType" minOccurs="0"/>
     <xs:element name="xRef" type="xRefType" minOccurs="0" maxOccurs="unbounded"/>
     <xs:element name="amplificationEfficiency" type="xs:float" minOccurs="0"/>
     <xs:element name="dyeId" type="xs:string" minOccurs="0"/>
     <xs:element name="sequences" type="sequencesType" minOccurs="0"/>
     <xs:element name="commercialAssay" type="commercialAssayType" minOccurs="0"/>
     <xs:element name="rtPrimerDbId" type="xs:string" minOccurs="0"/>
   </xs:sequence>
 </xs:complexType>

 <xs:simpleType name="targetTypeType">
   <xs:restriction base="xs:string">
     <xs:enumeration value="ref"/>
     <xs:enumeration value="toi"/>
   </xs:restriction>
 </xs:simpleType>

 <xs:complexType name="temperatureType">
   <xs:sequence>
     <xs:element name="temperature" type="xs:float"/>
     <xs:element name="duration" type="xs:positiveInteger"/>
     <xs:element name="temperatureChange" type="xs:float" minOccurs="0"/>
     <xs:element name="durationChange" type="xs:int" minOccurs="0"/>
     <xs:element name="measure" type="measureType" minOccurs="0"/>
     <xs:element name="ramp" type="xs:float" minOccurs="0"/>
   </xs:sequence>
 </xs:complexType>

 <xs:complexType name="templateQualityType">
   <xs:sequence>
     <xs:element name="method" type="xs:string"/>
     <xs:element name="result" type="xs:float"/>
   </xs:sequence>
 </xs:complexType>

 <xs:complexType name="thirdPartyExtensionsType">
   <xs:sequence>
     <xs:any maxOccurs="unbounded" minOccurs="0"/>
   </xs:sequence>
 </xs:complexType>

 <xs:complexType name="thermalCyclingConditionType">
   <xs:sequence>
     <xs:element name="id" type="xs:string"/>
     <xs:element name="name" type="xs:string" minOccurs="0"/>
     <xs:element name="lidTemperature" type="xs:float" minOccurs="0"/>
     <xs:element name="step" type="stepType" maxOccurs="unbounded" />
   </xs:sequence>
 </xs:complexType>

 <xs:complexType name="wellType">
   <xs:sequence>
     <xs:element name="id" type="xs:string"/>
     <xs:element name="sampleId" type="xs:string"/>
     <xs:element name="data" type="dataType" maxOccurs="unbounded"/>
   </xs:sequence>
 </xs:complexType>

 <xs:complexType name="xRefType">
   <xs:sequence>
     <xs:element name="name" type="xs:string" minOccurs="0"/>
     <xs:element name="id" type="xs:string" minOccurs="0"/>
   </xs:sequence>
 </xs:complexType>

 <xs:element name="rdml">
   <xs:complexType>
     <xs:sequence>
       <xs:element name="dateMade" type="xs:dateTime" minOccurs="0"/>
       <xs:element name="dateUpdated" type="xs:dateTime" minOccurs="0"/>
       <xs:element name="version" type="xs:string"/>
       <xs:element name="id" type="rdmlIdType" maxOccurs="unbounded" minOccurs="0"/>
       <xs:element name="experimenter" type="experimenterType" maxOccurs="unbounded" minOccurs="0"/>
       <xs:element name="sample" type="sampleType" maxOccurs="unbounded" minOccurs="0"/>
       <xs:element name="target" type="targetType" maxOccurs="unbounded" minOccurs="0"/>
       <xs:element name="thermalCyclingCondition" type="thermalCyclingConditionType" maxOccurs="unbounded" minOccurs="0"/>
       <xs:element name="experiment" type="experimentType" maxOccurs="unbounded" minOccurs="0"/>
       <xs:element name="thirdPartyExtensions" type="thirdPartyExtensionsType" minOccurs="0"/>
     </xs:sequence>
   </xs:complexType>
   <xs:keyref name="experimenterIdKeyRef" refer="experimenterIdKey">
     <xs:selector xpath="./experiment/run/annotation/*" />
     <xs:field xpath="experimenterId" />
   </xs:keyref>
   <xs:key name="experimenterIdKey">
     <xs:selector xpath="./experimenter" />
     <xs:field xpath="id" />
   </xs:key>
   <xs:keyref name="targetIdKeyRef" refer="targetIdKey">
     <xs:selector xpath="./experiment/run/well/data/*" />
     <xs:field xpath="tarId" />
   </xs:keyref>
   <xs:key name="targetIdKey">
     <xs:selector xpath="./target" />
     <xs:field xpath="id" />
   </xs:key>
   <xs:keyref name="sampleIdKeyRef" refer="sampleIdKey">
     <xs:selector xpath="./experiment/run/well/data/*" />
     <xs:field xpath="sampleId" />
   </xs:keyref>
   <xs:key name="sampleIdKey">
     <xs:selector xpath="./sample" />
     <xs:field xpath="id" />
   </xs:key>
   <xs:keyref name="thermalCyclingConditionsIdKeyRef" refer="thermalCyclingConditionsIdKey">
     <xs:selector xpath="./experiment/run/annotation/dataCollectionSoftware/*"/>
     <xs:field xpath="thermalCyclingConditionsId"/>
   </xs:keyref>
   <xs:key name="thermalCyclingConditionsIdKey">
     <xs:selector xpath="./thermalCyclingConditions"/>
     <xs:field xpath="id"/>
   </xs:key>
 </xs:element>
</xs:schema>
